body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #090519;
  margin: 0;
  font-family: "Source Code Pro";
}

#container {
  /* min-width: 200px; */
  max-width: 400px;
}

#header {
  background-color: #1d1834;
  width: 100%;
  text-align: center;
  color: white;
  padding: 8px;
}

h1 {
  margin: 0;
  font-weight: 700;
}
h2 {
  font-size: 1rem;
  margin: 0;
  font-weight: 400;
}

#playButton {
  height: 70px;
  cursor: pointer;
  margin: 1rem;
}

ul {
  padding: 0;
  margin: 0;
  padding: 2rem;
  border-radius: 12px;
  background-color: #1d1834;
}

li {
  border: 1px #8a75f0 solid;
  border-radius: 4px;
  padding: 2px;
  width: 200px;
  text-align: center;
  list-style-type: none;
  margin-bottom: 1rem;
  background-color: #090519;
}

li:hover {
  transition: ease-in-out 150ms;
  box-shadow: 1px 1px 10px 0px #2f0ed0;
  background-color: #030108;
  color: rgb(214, 17, 17);
}

#text-container {
  background-color: #1d1834;
}

a {
  display: block;
  text-decoration: none;
  font-size: large;
  color: #beb8e0;
}

p {
  color: #beb8e0;
}

li:active a {
  transition: ease-in-out 150ms;
  color: #868393;
}

#videoElement {
  display: none; /* Hide the video element initially */
}

#cv {
  margin: 0;
}

/* move to yonatanMor repo
write something about me
video in popup modal (position abs display none, x button in modal) */
